---
import type { Location } from "@/components/location-table/types";
import BodyText from "@/components/typography/BodyText.astro";

interface Props extends Location {}

const { venueName, mapLink, address, venueWebsite } = Astro.props;
---

<tr class="border-b border-stone-700">
  <td class="py-4 align-top"
    ><BodyText className="text-stone-300">{venueName}</BodyText></td
  >
  <td class="py-4 flex flex-col gap-3">
    <BodyText>{address}</BodyText>
    <BodyText>
      <a
        href={mapLink}
        target="_blank"
        rel="noreferrer noopener"
        class="underline">Map link</a
      >
    </BodyText>
    {
      venueWebsite && (
        <BodyText>
          <a
            href={venueWebsite}
            target="_blank"
            rel="noreferrer noopener"
            class="underline"
          >
            {venueWebsite}
          </a>
        </BodyText>
      )
    }
  </td>
</tr>
