---
import LinkIconButton from "@/components/common/LinkIconButton.astro";
import BodyText from "@/components/typography/BodyText.astro";
import Heading from "@/components/typography/Heading.astro";
import type { Speaker } from "@/types";
import { Picture } from "astro:assets";

interface Props extends Speaker {}

const { speakerName, title, njumpUrl, bio, profilePic } = Astro.props;
---

<article class="mb-10">
  <!-- row 1 -->
  <Picture
    alt=""
    formats={["avif", "webp"]}
    src={profilePic}
    class="rounded-xl"
  />
  <!-- row-2 -->
  <div class="flex justify-between items-center gap-2">
    <Heading level={3} className="lg:mb-0">{speakerName}</Heading>
    <LinkIconButton url={njumpUrl} />
  </div>
  <!-- row-3 -->
  <p class="text-(--nb-white) lg:text-lg font-mono">{title}</p>
  <!-- row-4 -->
  <BodyText>
    {bio}
  </BodyText>
</article>

<style>
  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
  }
</style>
