---
import LinkIconButton from "@/components/common/LinkIconButton.astro";
import type { Speaker } from "@/types";
import { Picture } from "astro:assets";

interface Props extends Speaker {}

const { speakerName, title, njumpUrl, bio, profilePic } = Astro.props;
---

<article class="mb-10">
  <!-- row 1 -->
  <Picture
    alt=""
    formats={["avif", "webp"]}
    src={profilePic}
    class="rounded-xl"
  />
  <!-- row-2 -->
  <div class="flex justify-between items-center gap-2">
    <h3 class="text-(--nb-white) text-3xl md:text-4xl xl:text-5xl font-headline">{speakerName}</h3>
    <LinkIconButton url={njumpUrl} />
  </div>
  <!-- row-3 -->
  <p class="text-(--nb-white) text-sm lg:text-lg font-mono">{title}</p>
  <!-- row-4 -->
  <p class="text-stone-400 md:text-lg lg:text-xl xl:text-2xl">
    {bio}
  </p>
</article>

<style>
  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
  }
</style>
