---
import LinkIconButton from "@/components/common/LinkIconButton.astro";
import BodyText from "@/components/typography/BodyText.astro";
import Heading from "@/components/typography/Heading.astro";
import type { Entertainment } from "@/types";
import { Picture } from "astro:assets";

interface Props extends Entertainment {}

const { image, title, url, date, description } = Astro.props;
---

<article>
  <Picture
    alt=""
    formats={["avif", "webp"]}
    src={image}
    class="mb-4 rounded-xl"
  />
  <div class="flex flex-col gap-3 mb-4">
    <Heading level={3}>
      {title}
    </Heading>
    <p class="text-(--nb-white) text-sm md:text-base font-mono">{date}</p>
  </div>
  <div class="flex flex-col mb-4">
    <BodyText>
      {description}
    </BodyText>
    {url && <LinkIconButton url={url} className="mt-6" />}
  </div>
</article>
